/* Estilos CSS para el cuerpo y el fondo */
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: grid;
    justify-content: center; 
    min-height: 100vh; /* Fondo del cuerpo */
}

/* Estilos CSS para el color de fondo del menú */
.black-menu {
    background-color: black; /* Fondo del menú */
    color: white;
    top: 0;
    position: absolute;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 1%;
    z-index: 1;
    align-items: center; /* Alineación del menú */
}

/* Estilos CSS para los elementos del menú */
.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos CSS para las imágenes del menú */
.menu-item img {
    width: 8%; 
    border-radius: 35%;
    animation: parpadeo 1.4s infinite alternate; /* Aplicar la animación */
}
@keyframes parpadeo {
    0% {
        opacity: 1; /* Opacidad completa al inicio */
    }
    100% {
        opacity: 0; /* Opacidad nula al final */
    }
}

/* Estilos CSS para el espacio entre elementos del menú */
.menu-item span {
    margin: 0 1%;
    font-family: 'Kanit', sans-serif;
    font-size: 2.6em;
}

/* Estilos CSS para los enlaces del menú */
.menu-link {
    position: relative; /* Enlaces del menú */
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    font-size: 2.6em;
}

/* Estilos CSS para las animaciones de los enlaces del menú */
.menu-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2em;
    background-color: rgb(255, 255, 255);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

/* Animación al pasar el cursor sobre los enlaces */
.menu-link:hover::after {
    transform: scaleX(1); 
}


/* Estilos CSS para la imagen de portada */
.imgp {
    width: 100%; 
    height: auto; 
    z-index: 0;
    margin-top: 8%;
}

/* Estilos CSS para los titulos */
.titulos {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-size: 5em;
    font-style: italic;
    font-style: oblique;

}

/* Estilos CSS para los titulos */
.parrafos {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 2em;

}

/* Estilos CSS para los logos */
.logos {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    height: 25em;
    width: 50em;
    
}

/* Estilos CSS para las imagenes */
.img1 {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    height: 60em;
    width: 100em;
}

/* Estilos CSS para los separadores */
.sep {
    width: 100%;
    height: 55%;

}

/* Estilos CSS para el texto del pie de pagina 1 */
.txt {
    margin: 0;
}

/* Estilos CSS para el texto del pie de pagina 2 */
.txt {
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

/* Estilos CSS para la imagen del pie de pagina */
.pp {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 50%;
    justify-content: center;
    align-items: center;


}

/* Estilos CSS para el pie de pagina */
.pie {
    background-color: black;
    display: block; 
    justify-content: center;
    align-items: center;
}

/* Estilos CSS para las redes en el pie de pagina */
.redes {
  display: flex;
  justify-content: center;
  align-items: center;
}


